.cocktail-form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-label{
    margin-right: 10px;
}

.submit-button{
    margin-top: 5%;
    width: 30%;
    height: 40px;
    background-color: orange;
    margin-bottom: 30px;
    border: none;
    color: white;
}

.submit-button:hover {
    background-color: pink;
}

.checkbox{
    transform: scale(1.5);
    margin: 3px;
    position: relative;
    left: 2px
}

.notes-field{
    resize: none;
    font-size: large;
}

.create-update-image{
    width: 100%;
    height: auto;
}

.tried-checkbox-container{
    display: flex;
    margin: 10px 0 10px 0;
    align-items: center;
}

.tried-text{
    font-size: large;
    font-weight: bold;
    display: flex;
    margin-right: 20px;
    align-items: center;
}
