.cocktail-info{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 20px;
}

@media (min-width: 600px) {
    .cocktail-info{
        width: 50%;
    }
}

@media (max-width: 600px) {
    .cocktail-info{
        width: 90%;
    }
}

#cocktail-info-image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cocktail-info-grades-container{
    width: 100%;
}

.cocktail-description{
    width: 100%;
    align-items: center;

}

.cocktail-ingredients{
    width: 100%;
}

.cocktail-buttons-container{
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: flex;
    position: relative;
    padding-bottom: 30px;
    justify-content: space-between;
}

.cocktail-edit-button{
    height: 100%;
    width: 60%;
    border: none;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.cocktail-edit-button:hover{
    background-color: pink;
}

.cocktail-delete-button{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}