.delete-modal-container {
    min-height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-modal-internal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px outset black;
    background-color: rgb(255, 246, 228);
    min-height: 200px;
    padding: 15px;
}


@media (min-width: 600px) {
    .delete-modal-internal-container{
        width: 50%;
        height: 30%;
    }
}

@media (max-width: 600px) {
    .delete-modal-internal-container{
        width: 90%;
        height: 25%;
    }
}

.delete-modal-message{
    font-size: 20px;
    color: red;
}

.delete-modal-buttons-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.delete-modal-button {
    width: 40%;
    height: 40px;
    border: 1px solid red;
    background-color: rgb(255, 114, 114);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}