.pagination-bar-container{
    margin-top: 1px;
    height:30px;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: pink;
    position: relative;
    bottom: 2px;
    z-index: 11;
}
.pagination-page-label{
    width: 20%;
    height: 100%;
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-buttons{
    width: 40%;
    display: flex;
    justify-content: right;
    gap: 2px;
}
.pagination-button{
    height: 100%;
    float: right;
    width: 20%;
    border: none;
    border-radius: 0 0 10% 10%;
    background-color: orange;
    color: white;
}

.pagination-button:hover{
    background-color: rgb(255, 191, 72);
}