.cocktail-form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-label{
    margin-right: 10px;
}

.submit-button{
    margin-top: 5%;
    width: 30%;
    height: 40px;
    background-color: rgb(45,0,125);
    margin-bottom: 30px;
    border: none;
    color: white;
}

.submit-button:hover {
    background-color: rgb(74, 1, 201);
}

.checkbox{
    transform: scale(1.5);
    margin: 3px;
    position: relative;
    left: 2px
}

.add-ingredient-button {
    height: 100%;
    aspect-ratio: 1;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.add-ingredients{
    margin-bottom: 10px;
    display: flex;
    height: 30px;
}

#cocktail-ingredients{
    width: 50%;
    margin-right: 10px;
}

.ingredients-list-item{
    display: flex;
}
  
.ingredients-list-item-name{
    width: 40%;
}

.notes-field{
    resize: none;
    font-size: large;
}
