.tried-cocktail-item-body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(199,199,199);
    background: linear-gradient(90deg, rgba(199,199,199,1) 0%, rgba(255,255,255,1) 100%);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    position: relative;
    z-index: 10;
}

@media (min-height: 550px) {
    .tried-cocktail-item-body{
        height: 20%;
    }
}

@media (max-height: 550px) {
    .tried-cocktail-item-body{
        height: 40%;
    }
}


.cocktail-name{
    width: 30%;
}

#cocktail-image{
    height: 90%;
    aspect-ratio: 1;
}

.delete-button{
    border: none;
    background: none;
}

.tried-cocktail-item-grade{
    width: 12%;
}