.untried-cocktail-item-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 10%;
    background-color: rgb(253, 228, 233);
    border: 1px inset grey;
}

.untried-cocktail-item-buttons{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.tried-button{
    border: none;
}