.untried-cocktail-item-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: rgb(253, 228, 233);
    border-top: 1px inset grey;
    border-bottom: 1px solid grey;
}

.border-left{
    height: 100%;
    width: 10px;
    margin-right: 10px;
    background-color: blueviolet;
}

.name-notes-and-ingredients{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.untried-cocktail-item-buttons{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.update-button{
    border: none;
}

.cocktail-untried-name{
    width: 100%;
    margin: 0;
}

.cocktail-paragraph-info{
    margin: 0;
    font-size: small;
    color: grey;
}