.login-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(254, 213, 220);
}

@media (min-width: 600px) {
    .login-page-cocktail-image{
        width: 20%;
    }
}

@media (max-width: 600px) {
    .login-page-cocktail-image{
        width: 50%;
    }
}


.logout-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}