html,
#root,
.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-header{
  width: 100%;
}

.app-body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

@media (min-height: 550px) {
  .app-header{
      height: 20%;
  }
  .app-body{
    height: 80%;
  }
}

@media (max-height: 550px) {
  .app-header{
      height: 33%;
  }
  .app-body{
    height: 67%;
  }
}


.form-input-field-container{
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.form-input-field{
  height: 30px;
}

.form-label{
  font-size: large;
  font-weight: bold;
}
