html,
#root,
.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.form-input-field-container{
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.form-input-field{
  height: 30px;
}